body{
  background-color: black;
}
h1{
  font-size: 3.125rem;
}
h2{
  font-size: 1.65rem;
}
.subsentence{
  font-size: 1.2rem;
}
h1.subtitle{
  padding: 25px 250px;
}

.form-control{
  size: 25px;
}

.input-group>.form-control{
    flex: 0.5 1 auto;
	    width: 1%;
	    margin-left: 300px;
}
.navbar-brand{

  font-family:  sans-serif;
  font-style: bold;
   color:red;
 font-size: 2rem;
 }
.language{
  display: inline-block;
  block-size: 35px;
  margin-right: 7px;
  background-color: #737373;
  color:white;
  border-color: whitesmoke;
}
hr{
  border-top: 8px solid rgb(52, 51, 51);
  border-radius: 5px;
  margin: 0pc auto ;
}

.customisedcontain{
  margin-top: 150px;
  margin-left:100px;
  text-align: center;
  color:white;
}

.title{
  background-image: url("/images/netflix.jpeg");
  background-size: cover;
  height: 700px;
}

.describeimage{
  width: 400px;
  height: 300px;
}
.describecol{
text-align: center;
font-size: 1.25rem;
margin: 50px auto;
}
.describerow{
  height: 400px;
}
.netflixknowledge{
margin: 100px auto;
color:white

}

.Strange{
  color:white;
  font-size: small;
}
.download{
  color:blue;
  font-size: small;
}


.diagonalbox{
  width: 300px;
  border-style: solid;
  border-radius: 9px;
}

@media only screen and (max-width: 750px) {
 h1{
    font-size: 1.75rem;
  }
h2{
  font-size: 1.2rem;
}
.container{
  margin-left:15px; 
}
.input-group>.form-control{
    margin-left: 100px;
}

.describerow{
  height: 600px;
  text-align:center;
}
}

@media only screen and (max-width: 997px) {
  h1.subtitle{
    padding: 25px 50px;
  }
}